RewriteEngine On

# Si le fichier ou dossier n'existe pas physiquement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Protection des fichiers sensibles
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Protection des dossiers sensibles
<DirectoryMatch "^/.git/">
    Order allow,deny
    Deny from all
</DirectoryMatch>

# Forcer UTF-8
AddDefaultCharset UTF-8
